<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Faceboo</title>
    <link rel="stylesheets" href="top.scss">
</head>
<body>
  <section class="main-header">
    <p class="flash"><%= notice %><%= alert %></p>
    <p class"main-img"></cla><img src="<%= asset_path "like.jpeg" %>"></p>
  </section>
</body>
</html>
