// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// header {
//   width: 100%;
//   background-color: #2c3e50;
//   height: 54px;
// }



.navbar-default {
    border: 0;
}
header{
  background: #305097;
  padding: 0 0;
}
header ul{
  display: inline-block;
  color: white;
}

.dropdown-menu li{
  display: inline-block;
}
.dropdown-toggle{
  font-size: 20px;
  color: white;
}

.btn-group{
  display: inline-block;
}

.navbarleft{
  display: inline-block;
  font-size: 20px;
  list-style: none;
  margin-right: 100px;
  vertical-align: middle;
}
.navbarright{
  vertical-align: middle;
}

.navbarleft li{
  display: inline-block;
  margin-left: 100px;
  color: #fff;
}
.navbarright li{
  color: white;
  display: inline-block;
  margin-right: 100px;
}
.fa-envelope-o{
  margin-left: 130px;
  color: #fff;
}
.btn-fb{
  background: #305097;
  color: white;
}
.navbarleft li a{
  color: white;
}

.retire{
  color: red;
}

.profileimg {
  img {
    width: 80px;
    height: 80px;
  }
}
body{
  background: #C0C0C0;
}


//投稿一覧のCSS始まり
.row{
  margin-top: 5%;
  background: white;
}

.content{
  border: single #ddd;
  border-style: inherit;
  margin: 30px;
}
.time{
  color: #90949c;
}

.topic_content{
  color: #90949c;
}

.topic_profile_img{
  img{
  height: 100px;
  width: 100px;
  margin-right: 600px;
  }
}

.topicimg{
  img{
  width: 486px;
  height: 255px;
  border: solid 5px #F5F5F5;
  }
}

//投稿一覧ページのCSS終わり


//.navbar {
//    background-color: transparent;
//    margin-bottom: 0px;
//}

.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
      margin-left: 200px;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.main-header {
  padding-bottom: 100%;
  width: 100%;
  background-size: 10%;
  background-image: image-url("faceboo.png");
  background-attachment: fixed;
}

// .main-header img {
//   display: block;
//   margin: 0 auto;
//   width: 25%;
//   padding-top: 15%;
// }

.about {
  background-color: white;
  color: #333;
  padding: 80px;
}

.function {
  background-color: #e9e9e9;
  padding: 80px;
  padding-bottom: 185px;
}

.page-top-btn {
  display: none;
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  // a {
  //   display: block;
  //   color: white;
  //   line-height: 60px;
  //   text-decoration: none;
  // }
  &:hover {
  opacity: 0.7;
  }
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

.flash {
  color: black;
  padding-top: 30px;
}

body {
  text-align: center;
}
